<?xml version="1.0" encoding="utf-8"?>
<Preferences
    AcceptedEULA="{{ plex_server_accepted_eula }}"
    FriendlyName="{{ plex_server_friendly_name }}"
    sendCrashReports="{{ plex_server_send_crash_reports }}"
    PublishServerOnPlexOnlineKey="{{ plex_server_publish_server_on_plex_online_key }}" 
    customConnections="https://{{ plex_server_host }}:{{ plex_server_port }}"
    manualPortMappingMode="{{ plex_server_manual_port_mapping_mode }}"
    manualPortMappingPort="{{ plex_server_manual_port_mapping_port }}"
/>
